.popup__error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  text-align: left;
  width: 358px;
  display: none;
  margin: 5px auto 0 auto;
}

@media screen and (max-width: 565px) {
  .popup__error {
    width: 238px;  
}}