.popup__link {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  min-width: 358px;
  margin: 0 auto 49px auto;
  box-sizing: border-box;
  padding-bottom: 7px;
  }
  
.popup__link:focus {
  border: 2px solid rgb(56, 129, 231);
  border-radius: 2px;
}
  
@media screen and (max-width: 565px) {
  .popup__link {
    min-width: 238px;
    margin-bottom: 45px;
  }
}

